#introduction{
  background-color: #0f3460;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

.cotainer-fluid{
  padding: 3% 15%;
}


.intro__hello{
  margin-top: 100px;
  color: white;
}

.intro__tagline{
  margin-top: 150px;
  color: white;
}

.intro__contact{
  margin-top: 150px;
  font-size: 20px;
  color: white;
}
