#introduction{
  background-color: #171c28;
}

#background{
  background-color: #171c28;
  padding-bottom: 3%;
  text-align: left;
}

#skills{
  background-color: #171c28;
  padding-bottom: 3%;
  text-align: left;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #007bff;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700

}

.navbar-dark .navbar-nav .nav-link {
  color: #007bff

}

.cotainer-fluid{
  padding: 3%;
}


.intro__hello{
  margin-top: 100px;
  color: #007bff;
}

.intro__tagline{
  margin-top: 150px;
  color: #afafbf;
}

.intro__contact{
  margin-top: 150px;
  font-size: 16.5px;
  color: #afafbf;
}

.highlight-link{
  font-family: 'Montserrat', sans-serif;
  color: #afafbf;
  font-size: 16.5px;
}

.section__title {
  font-family: 'Montserrat', sans-serif;
    color: #007bff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 5%;

}

.section__content{

  font-family: 'Montserrat', sans-serif;
  color: #afafbf;
  text-align: justify;
  font-weight: 400;
}

.row{
    padding: 3% 20%;
}

.underline-link{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
}

div {
    display: block;
}

.skillz__category__label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.skillz__category__item {
    font-family: 'Montserrat', sans-serif;
    margin: 3px 0;
    font-size: .9rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
